body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #007bff, #00d4ff);
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    /* supaya elemen tersusun menegak & tak bertindih */
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
}

h1 {
    font-size: 28px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    background-color: white;
    color: #007bff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background-color: #007bff;
    color: white;
}

/* Log Keluar */
.lg {
    margin-top: 10px;
    width: 100px;
}